.ink-d {
  height: 100vh !important;

  // FIN SCROLLMAGIC

  .ink-d-js {
    position: fixed;
    top: 0;
    z-index: 5;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: white;

   
  }
}

